:root {
    --white: #fff;
    --white-gray: #e0e0e0;
    --gray: #313131;
    --blue: #167CDA;
    --dark-blue: #1774ca;
    --blue-gray: #c5d2e5;
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    color: var(--blue-gray);
    background-color: var(--gray);
    width: 500px !important;
    margin-top: 4rem;
    padding: 2rem !important;
}
@media screen and (max-width: 1400px) {
    
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 992px) {
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-height: 1050px) {
    .container {
        margin-top: 2rem ;
    }
}
@media screen and (max-height: 700px) {
    .container {
        margin-top: 0 !important;
    }
}